<footer id="footer" class="dark">
  <!-- Copyrights
        ============================================= -->
  <div id="copyrights">
    <div class="container clearfix">
      <div class="col_half">
        Copyrights &copy; 2021 All Rights Reserved by Syticks
      </div>

      <div class="col_half col_last tright">
        <div class="fright clearfix">
          <a
            href="#"
            class="social-icon si-small si-borderless nobottommargin si-facebook"
          >
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>

          <a
            href="#"
            class="social-icon si-small si-borderless nobottommargin si-twitter"
          >
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>

          <a
            <a
            href="#"
            class="social-icon si-small si-borderless nobottommargin si-pinterest"
          >
            <i class="icon-pinterest"></i>
            <i class="icon-pinterest"></i>
          </a>

          <a
            href="#"
            class="social-icon si-small si-borderless nobottommargin si-linkedin"
          >
            <i class="icon-linkedin"></i>
            <i class="icon-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- #copyrights end -->
</footer>
