<header id="header" class="full-header">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
                ============================================= -->
      <div id="logo">
        <a href="/" class="standard-logo" data-dark-logo="images/logo-dark.png"
          ><img src="/images/logo2.png" alt="Syticks Logo"
        /></a>
        <a href="/" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"
          ><img src="/images/logo2.png" alt="Syticks Logo"
        /></a>
      </div>
      <!-- #logo end -->

      <!-- Primary Navigation
                ============================================= -->
      <nav id="primary-menu">
        <ul>
          <li>
            <a href="/"
              ><div><i class="icon-home"></i></div
            ></a>
          </li>
          <li>
            <a href="/about"><div>ABOUT US</div></a>
          </li>
          <li>
            <a href="#"
              ><div><i class="icon-user"></i></div
            ></a>
            <ul>
              <li>
                <a href="/login"><div>Login</div></a>
              </li>
              <li>
                <a href="/register"><div>Register</div></a>
              </li>
            </ul>
          </li>
        </ul>

        <!-- Top Cart
                    ============================================= -->

        <!-- #top-cart end -->

        <!-- Top Search
                    ============================================= -->
        <div id="top-search">
          <a href="#" id="top-search-trigger"
            ><i class="icon-search3"></i><i class="icon-line-cross"></i
          ></a>
          <form action="search.html" method="get">
            <input
              type="text"
              name="q"
              class="form-control"
              value=""
              placeholder="Type &amp; Hit Enter.."
            />
          </form>
        </div>
        <!-- #top-search end -->
      </nav>
      <!-- #primary-menu end -->
    </div>
  </div>
</header>
