<div id="top-bar" class="d-none d-md-block">
  <div class="container clearfix">
    <div class="col_half nobottommargin">
      <p class="nobottommargin">
        <strong>Call:</strong> 1800-547-2145 |
        <strong>Email:</strong> info@canvas.com
      </p>
    </div>

   
      <!-- .top-links end -->
    </div>
  </div>
</div>
