<div id="top-bar" class="d-none d-md-block">
  <div class="container clearfix">
    <div class="col_half nobottommargin">
      <p class="nobottommargin">
        <strong>Call:</strong> 07036540898 |
        <strong>Email:</strong> syticks@gmail.com
      </p>
    </div>

   
      <!-- .top-links end -->
    </div>
  </div>
</div>
