<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- Stylesheets
	============================================= -->
    <%- include("partials/css") %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
	============================================= -->
    <title>Thank You | Syticks</title>
  </head>

  <body class="stretched">
    <!-- Document Wrapper
	============================================= -->
    <!-- Top Bar
		============================================= -->
    <%- include("partials/top") %>
    <!-- #top-bar end -->

    <div id="wrapper" class="clearfix">
      <!-- Header
		============================================= -->
      <%- include("partials/header") %>
      <!-- #header end -->

      <section id="page-title">
        <div class="container clearfix">
          <h1>Sorry</h1>
        </div>
      </section>
      <!-- #page-title end -->

      <!-- Content
      ============================================= -->

      <section id="content">
        <div class="content-wrap">
          <div class="container clearfix">
            <div class="postcontent nobottommargin clearfix centered">
              <h4>Transaction Could not be verified at the moment</h4>
            </div>
          </div>
        </div>
      </section>

      <!-- #content end -->

      <!-- Footer
		============================================= -->
      <footer id="footer" class="dark">
        <!-- Copyrights
			============================================= -->
        <div id="copyrights">
          <div class="container clearfix">
            <div class="col_half">
              Copyrights &copy; 2021 All Rights Reserved by Syticks
            </div>

            <div class="col_half col_last tright">
              <div class="fright clearfix">
                <a
                  href="#"
                  class="
                    social-icon
                    si-small si-borderless
                    nobottommargin
                    si-facebook
                  "
                >
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>

                <a
                  href="#"
                  class="
                    social-icon
                    si-small si-borderless
                    nobottommargin
                    si-twitter
                  "
                >
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>

                <a
                  <a
                  href="#"
                  class="
                    social-icon
                    si-small si-borderless
                    nobottommargin
                    si-pinterest
                  "
                >
                  <i class="icon-pinterest"></i>
                  <i class="icon-pinterest"></i>
                </a>

                <a
                  href="#"
                  class="
                    social-icon
                    si-small si-borderless
                    nobottommargin
                    si-linkedin
                  "
                >
                  <i class="icon-linkedin"></i>
                  <i class="icon-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- #copyrights end -->
      </footer>
      <!-- #footer end -->

      <!-- #footer end -->
    </div>
    <!-- #wrapper end -->

    <!-- Go To Top
	============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
	============================================= -->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>

    <!-- Footer Scripts
	============================================= -->
    <script src="js/functions.js"></script>
  </body>
</html>
